div#game {
  position: relative;
  margin-left: 9.5%;
  width: 1100px;
  height: 650px;
}
img#rushcity{
  display: inline;
  float: left;
  width: 85px;
  height: auto;
}
canvas {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
h3{
  position: absolute;
  bottom: -50px;
  margin-left: 25%;
  font-family: fantasy;
  color: lightslategray;
}
canvas#foreground{
  z-index: 100;
}
canvas#background{
  z-index: -100;
}
body {
  align-self: center;
  align-items: center;
  background: url("../images/back.gif");
  margin-top: 0px;
  margin: 0px;
}
