div#game {
  position: relative;
  width: 850px;
  height: 475px;
  display: flex;
  margin: auto;

}


img#rushcity{
  display: inline;
  float: left;
  width: 85px;
  height: auto;
}
#rush{
  color: orange;
  font-size: 80px;
}
html{
  background: black;
  background-size: cover;
  -webkit-background-size: cover;
   -moz-background-size: cover;
}
nav{
  display: flex;
  width: 85%;
  margin-left: 3%;
}

#flinstones{
  position: absolute;
  right: 0px;
  top: 70%;
  width: 200px;
  
}
#taxi{
  position: absolute;
  right: 0px;
  top: 30%;
  width: 200px;

}
#biker{
  position: absolute;
  left: 0px;
  top: 30%;
  width: 200px;
  margin: 0;
  transform: rotate(320deg);
}
#car{
  position: absolute;
  left: 0px;
  margin: 0;
  top: 70%;
  width: 200px;
  transform: rotate(45deg);
}
.contacts{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  margin-left: 3%;
  margin-right: 3%;
  color: grey;
}
.contacts a{
  color: grey;
  text-decoration: none;
}
.contacts img{
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
img{
  width: 30%;
  height: 130px;
  margin-left: 11%;
  margin-right: 3%;

}
#linkedin{
  width: 90px;
  height: 70px;
}

canvas {
  position: absolute;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}
#game h3{
  position: absolute;
  bottom: -50px;
  left: 160px;
  font-family: fantasy;
  color: lightslategray;
  font-size: 18px;
}
canvas#foreground{
  z-index: 100;
}
canvas#background{
  z-index: -100;
}
